<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Vue.js | Watched Properties</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <span><b>Name: </b> {{fullname}}</span><br/>
      <span><b>Name (computed):</b> {{computedFullname}}</span>
    </div>
    <script type="text/javascript" src="./watched-properties.js"></script>
  </body>
</html>
