<!doctype html>
<html>
<head>
  <meta charset="UTF-8"> 
  <title>Vue.js | Computed Properties</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <span><b>Message: </b> {{message}}</span><br/>
    <span><b>Computed message:</b> {{reversedMessage}}</span><br/>
    <span><b>Message (changed via method): </b> {{reverseMessageFn()}}</span>
  </div>
  <script type="text/javascript" src="./computed-properties.js"></script>
</body>
</html>
